includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/symplify/coding-standard/packages/cognitive-complexity/config/cognitive-complexity-rules.neon
